<a href="https://colab.research.google.com/github/manash059/LMS-assignments/blob/main/lms_ass_7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 34, 23, 29],
    'Department': ['HR', 'IT', 'Marketing', 'Finance'],
    'Salary': [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)

print(df)

print("\nFirst 2 rows:")
print(df.head(2))

df['Bonus'] = df['Salary'] * 0.10

average_salary = df['Salary'].mean()
print("\nAverage Salary:", average_salary)

print("\nEmployees older than 25:")
print(df[df['Age'] > 25])

sales_data = pd.read_csv(r'/content/Salary_Data.csv')

print("\nFirst 5 rows of sales_data:")
print(sales_data.head())

print("\nBasic Statistics:")
print(sales_data.describe())

    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

First 2 rows:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

Average Salary: 47500.0

Employees older than 25:
    Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0

First 5 rows of sales_data:
   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

Basic Statistics:
       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [10]:
import pandas as pd

data = {
    'Region': ['North', 'South', 'East', 'West', 'North'],
    'Product': ['Product A', 'Product B', 'Product A', 'Product B', 'Product C'],
    'Sales': [500, 300, 200, 700, 400],
    'Quantity': [100, 50, 60, 120, 80],
    'Profit': [50, 30, 20, 70, 40]
}

df = pd.DataFrame(data)

region_sales = df.groupby('Region')['Sales'].sum()
print("Total Sales for Each Region:")
print(region_sales)

product_quantity = df.groupby('Product')['Quantity'].sum()
most_sold_product = product_quantity.idxmax()
print("\nMost Sold Product (Based on Quantity):")
print(most_sold_product)

df['Profit Margin'] = (df['Profit'] / df['Sales']) * 100
average_profit_margin = df.groupby('Product')['Profit Margin'].mean()
print("\nAverage Profit Margin for Each Product:")
print(average_profit_margin)

Total Sales for Each Region:
Region
East     200
North    900
South    300
West     700
Name: Sales, dtype: int64

Most Sold Product (Based on Quantity):
Product B

Average Profit Margin for Each Product:
Product
Product A    10.0
Product B    10.0
Product C    10.0
Name: Profit Margin, dtype: float64